.App {
  text-align: center;
  max-width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F8F8F8;/* #282c34;*/
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input-field {
  padding-right: 30px;
  padding-left: 30px;
  font-size: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.box-field {
  width: 395px;
  padding: 10px;
 /* border: 0.1px solid gray; */
  margin: 0;
  background: white;
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  box-shadow: 0px 2px 10px -1px black;

}

.radio-holder{
  display: flex;
  flex-direction: row;
}

.small-box-field {
  flex-direction: column;
  width: 40px;
  justify-content: start;
  align-items: start;
  align-content: stretch; 

}

.button-box-field {
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  background: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.Menu {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-content: start;
  width: 100%;
  background-color: #282c34;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
}

.todo-text {
  text-decoration: grey line-through;
  color: rgb(209, 212, 212);
}

.button-holder {
  width: 411px; 
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  box-shadow: 0px 2px 10px -1px black;
}

.text-tag {
  color: black;
  font-size: 13px;
  margin-left: 5px;
}

.todo-header {
  font: 100px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgba(175, 47, 47, 0.15);
}

input:focus {
  outline: none !important;
/*  border:0.1px solid rgb(77, 77, 77); */
  box-shadow: 0px 2px 10px -1px black;

/*  box-shadow: 0 0 10px #719ECE; */
}

input {
  outline: none !important;
/*  border:0.1px solid rgb(77, 77, 77); */
  box-shadow: 0px 2px 10px -1px black;
  color: black
/*  box-shadow: 0 0 10px #719ECE; */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(209, 212, 212);
  opacity: 1; /* Firefox */
}

.clear-completed {
  color: black;
  font-size: 11px;
  margin-right: 5px;
}

.clear-completed:hover {
  text-decoration: underline;
}

.circle{
  height: 24px;
  width: 24px;
  background-color: white;
  border: 1px solid rgb(163, 158, 158);
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
}

/* CSS for side menu */

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: greenyellow; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;  
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@import url("https://rsms.me/inter/inter.css");
