<header id="showcase" class="grid">
    <div class="bg-image">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laborum perspiciatis velit doloremque corporis quibusdam ullam totam illum vitae. Quam incidunt qui facilis dolorum eos, reiciendis assumenda ad, similique tempora rerum eligendi, voluptatum nobis. Quae a officiis culpa, placeat nam earum est nihil obcaecati assumenda ipsa incidunt corporis autem voluptatem?
        </p>
    </div>
</header>